* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px dotted red; */
}

html {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#custom-container {
    position: relative;
    width: 30%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

ul {
    position: absolute;
    padding: .5rem;
    border: 1px solid black;
    width: auto;
    list-style: none;
    height: auto;  
}

.option-list {
    position: absolute;
    top: -9px;
}

.value {
    position: relative;
    border: 1px solid black;
    padding: .5rem;
}

#select {
    position: relative;
}

#select::after {
    content: "▼";
    position: absolute;
    top: -9px;
    left: 200px;
    color:white;
    background-color: black;
    padding: .5rem;
}

.hidden {
    visibility: hidden;
}